name: CD

on:
  workflow_run:
    workflows: ["CI"]      # Must match the 'name:' of your CI workflow exactly
    branches: [main]       # Only deploy when CI finishes on main
    types:
      - completed
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  MAKE_JOBS: 2 # When building the Dockerfile, use 2 make jobs

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: ${{ vars.DOCKERHUB_USERNAME }}/framework:latest
        cache-from: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/framework:buildcache
        cache-to: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/framework:buildcache,mode=max
