name: CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  ci:
    uses: ./.github/workflows/ci.yml
    secrets: inherit
    with:
      update_image_cache: true

  cd:
    needs: ci
    uses: ./.github/workflows/cd.yml
    secrets: inherit
