name: CI

on:
  pull_request:
    branches: [ "main" ]
  workflow_call:
    inputs:
      update_image_cache:
        description: "Set to true if the CI should update the Docker image cache"
        required: false
        type: boolean
        default: false

env:
  CARGO_TERM_COLOR: always
  MAKE_JOBS: 2 # When building the Dockerfile, use 2 make jobs

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Check formatting
      run: cargo fmt --all -- --check

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Linting
      run: cargo clippy --locked -- -D warnings

  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Cache cargo-audit binary
        id: cache-cargo-audit
        uses: actions/cache@v3
        with:
          path: ~/.cargo/bin/cargo-audit
          key: ${{ runner.os }}-cargo-audit-v1

      - name: Install cargo-audit
        if: steps.cache-cargo-audit.outputs.cache-hit != 'true'
        run: cargo install cargo-audit --locked

      - name: Run security audit
        run: cargo audit

  unit-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      uses: docker/build-push-action@v6
      with:
        target: ci
        load: true
        tags: ${{ vars.DOCKER_REPO }}:latest
        cache-from: type=registry,ref=${{ vars.DOCKER_REPO }}:buildcache

    - name: Run tests
      run: docker run -t ${{ vars.DOCKER_REPO }}:latest cargo test --release --locked

  end-to-end-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Login to Docker Hub
      if: ${{ inputs.update_image_cache }}
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      uses: docker/build-push-action@v6
      with:
        target: ci-end-to-end
        load: true
        tags: ${{ vars.DOCKER_REPO }}:latest
        cache-from: type=registry,ref=${{ vars.DOCKER_REPO }}:buildcache
        cache-to: ${{ inputs.update_image_cache && format('type=registry,ref={0}:buildcache,mode=max', vars.DOCKER_REPO) || '' }}

    - name: Run tests
      run: docker run -t ${{ vars.DOCKER_REPO }}:latest cargo test --tests --release --locked
