name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  MAKE_JOBS: 2 # When building the Dockerfile, use 2 make jobs

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Check formatting
      run: cargo fmt --all -- --check

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Linting
      run: cargo clippy --locked -- -D warnings

  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: rustsec/audit-check@v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  unit-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      uses: docker/build-push-action@v6
      with:
        target: ci
        load: true
        tags: ${{ vars.DOCKERHUB_USERNAME }}/framework:latest
        cache-from: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/framework:buildcache

    - name: Unit tests
      run: docker run -t ${{ vars.DOCKERHUB_USERNAME }}/framework:latest cargo test --release --locked

  integration-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build integration Docker image
      uses: docker/build-push-action@v6
      with:
        target: ci-integration
        load: true
        tags: ${{ vars.DOCKERHUB_USERNAME }}/framework:latest
        cache-from: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/framework:buildcache
        # Only push to the cache if on main branch
        cache-to: ${{ github.ref == 'refs/heads/main' && 'type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/framework:buildcache,mode=max' || '' }}

    - name: Integration tests
      run: docker run -t ${{ vars.DOCKERHUB_USERNAME }}/framework:latest cargo test --tests --release --locked
